<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>https://starrytky.github.io/blog-test/app.ipa</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>display-image</string>
					<key>url</key>
					<string>https://starrytky.github.io/blog-test/image.58x58.png</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>full-size-image</string>
					<key>url</key>
					<string>https://starrytky.github.io/blog-test/image.512x512.png</string>
				</dict>
			</array>
			<key>metadata</key>
			<dict>
				<key>bundle-identifier</key>
				<string>com.gmcc.gdmobileitworkorderms</string>
				<key>bundle-version</key>
				<string>4.1.208</string>
				<key>kind</key>
				<string>software</string>
				<key>platform-identifier</key>
				<string>com.apple.platform.iphoneos</string>
				<key>title</key>
				<string>丰德运维</string>
			</dict>
			<key>thinned-assets</key>
			<array>
				<dict>
					<key>bundle-identifier</key>
					<string>com.gmcc.gdmobileitworkorderms</string>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>https://starrytky.github.io/blog-test/app-C14988CF-053C-4D77-8085-B797988D5BA0.ipa</string>
					<key>variantDescriptors</key>
					<array>
						<dict>
							<key>device</key>
							<string>iPod9,1</string>
							<key>os-version</key>
							<string>15.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPhone8,4</string>
							<key>os-version</key>
							<string>15.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPhone8,1</string>
							<key>os-version</key>
							<string>15.0</string>
						</dict>
					</array>
					<key>variantIds</key>
					<array/>
				</dict>
				<dict>
					<key>bundle-identifier</key>
					<string>com.gmcc.gdmobileitworkorderms</string>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>https://starrytky.github.io/blog-test/app-56242898-D34D-4C1B-BA90-E19CB5185F6F.ipa</string>
					<key>variantDescriptors</key>
					<array>
						<dict>
							<key>device</key>
							<string>iPhone8,4</string>
							<key>os-version</key>
							<string>12.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPod7,1</string>
							<key>os-version</key>
							<string>12.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPhone6,1</string>
							<key>os-version</key>
							<string>12.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPhone6,2</string>
							<key>os-version</key>
							<string>12.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPhone7,2</string>
							<key>os-version</key>
							<string>12.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPhone8,1</string>
							<key>os-version</key>
							<string>12.0</string>
						</dict>
					</array>
					<key>variantIds</key>
					<array/>
				</dict>
				<dict>
					<key>bundle-identifier</key>
					<string>com.gmcc.gdmobileitworkorderms</string>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>https://starrytky.github.io/blog-test/app-57168C59-7BDB-49F6-A5D3-34E048DCC318.ipa</string>
					<key>variantDescriptors</key>
					<array>
						<dict>
							<key>device</key>
							<string>iPhone8,4</string>
							<key>os-version</key>
							<string>13.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPod9,1</string>
							<key>os-version</key>
							<string>13.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPhone8,1</string>
							<key>os-version</key>
							<string>14.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPhone8,4</string>
							<key>os-version</key>
							<string>14.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPod9,1</string>
							<key>os-version</key>
							<string>14.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPhone8,1</string>
							<key>os-version</key>
							<string>13.0</string>
						</dict>
					</array>
					<key>variantIds</key>
					<array/>
				</dict>
				<dict>
					<key>bundle-identifier</key>
					<string>com.gmcc.gdmobileitworkorderms</string>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>https://starrytky.github.io/blog-test/app-0F80EA29-9902-4C2E-B761-B26D0E37DC50.ipa</string>
					<key>variantDescriptors</key>
					<array>
						<dict>
							<key>device</key>
							<string>iPhone8,4</string>
							<key>os-version</key>
							<string>12.2</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPhone6,2</string>
							<key>os-version</key>
							<string>12.2</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPhone8,1</string>
							<key>os-version</key>
							<string>12.2</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPhone7,2</string>
							<key>os-version</key>
							<string>12.2</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPhone6,1</string>
							<key>os-version</key>
							<string>12.2</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPod7,1</string>
							<key>os-version</key>
							<string>12.2</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPod9,1</string>
							<key>os-version</key>
							<string>12.2</string>
						</dict>
					</array>
					<key>variantIds</key>
					<array>
						<string>iPod9,1</string>
					</array>
				</dict>
				<dict>
					<key>bundle-identifier</key>
					<string>com.gmcc.gdmobileitworkorderms</string>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>https://starrytky.github.io/blog-test/app-06BD5DE1-248C-4C3B-ABF1-01282EC8AECC.ipa</string>
					<key>variantDescriptors</key>
					<array/>
					<key>variantIds</key>
					<array>
						<string>iPhone8,4</string>
						<string>iPhone8,1</string>
						<string>iPhone6,2</string>
						<string>iPhone7,2</string>
						<string>iPod7,1</string>
						<string>iPhone6,1</string>
					</array>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
